force-app/main/default/flows/Create_Game.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Game {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Game</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Game_Record</name>
        <label>Create Game Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>GameId</assignRecordIdToReference>
        <connector>
            <targetReference>Register_Participant</targetReference>
        </connector>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>Game.Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Participant_1</name>
        <label>Create Participant 1</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Register_Participant_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>GameId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Participant_1.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Player__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Participant_1.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Participant_2</name>
        <label>Create Participant 2</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>GameId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Participant_2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Player__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Participant_2.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Game</name>
        <label>Create Game</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Game_Record</targetReference>
        </connector>
        <fields>
            <name>Create_Game_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Game_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Instructions</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create a new game entering a Game Code&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Game.Code__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Register_Participant</name>
        <label>Register Participant</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Participant_1</targetReference>
        </connector>
        <fields>
            <name>Register_Participant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Register_Participant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inst_Participant_1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Register Participant 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Participant_1.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Participant_1.User__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Register_Participant_2</name>
        <label>Register Participant 2</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Participant_2</targetReference>
        </connector>
        <fields>
            <name>Register_Participant_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Register_Participant_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inst_Participant_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Register Participant 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Participant_2.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Participant_2.User__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Results_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Results_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_results</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Your game was created with the following Game Code:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Code:&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt; {!Game.Code__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Game</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Game</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Game__c</objectType>
    </variables>
    <variables>
        <name>GameId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Participant_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>Participant_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
</Flow>
