force-app/main/default/flows/Game_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Game Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Game Handler</label>
    <orchestratedStages>
        <name>Get_Game</name>
        <label>Get Game</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Play_Round_1</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Player_1</name>
            <actionName>Get_Player_by_Game</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Game</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Player</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <label>Get Player 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Get_Player_2</name>
            <actionName>Get_Player_by_Game</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Get_Player_1.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>Game</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Player</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <label>Get Player 2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Play_Round_1</name>
        <label>Play Round 1</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Results_Round_1</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Player_1_Round_1</name>
            <actionName>Play_Round</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord.Username__c</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Player 1 Round 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Player_2_Round_1</name>
            <actionName>Play_Round</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord.Username__c</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Player 2 Round 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Play_Round_2</name>
        <label>Play Round 2</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Results_Round_2</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Player_1_Round_2</name>
            <actionName>Play_Round</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord.Username__c</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Player 1 Round 2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Player_2_Round_2</name>
            <actionName>Play_Round</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord.Username__c</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Player 2 Round 2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Play_Round_3</name>
        <label>Play Round 3</label>
        <locationX>176</locationX>
        <locationY>1043</locationY>
        <connector>
            <targetReference>Results_Round_3</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Player_1_Round_3</name>
            <actionName>Play_Round</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord.Username__c</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Player 1 Round 3</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Player_2_Round_3</name>
            <actionName>Play_Round</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord.Username__c</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Player 2 Round 3</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Results_Round_1</name>
        <label>Results Round 1</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Score_Round_1</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Round_P1</name>
            <actionName>Get_Round_by_Participant</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>GameId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParticipantRecord</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RoundNumberTxt</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <label>Get Round P1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Get_Round_P2</name>
            <actionName>Get_Round_by_Participant</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>GameId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParticipantRecord</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RoundNumberTxt</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <label>Get Round P2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Results_Round_2</name>
        <label>Results Round 2</label>
        <locationX>176</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Score_Round_2</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Round_P1_R2</name>
            <actionName>Get_Round_by_Participant</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>GameId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParticipantRecord</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RoundNumberTxt</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <label>Get Round P1 R2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Get_Round_P2_R2</name>
            <actionName>Get_Round_by_Participant</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>GameId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParticipantRecord</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RoundNumberTxt</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <label>Get Round P2 R2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Results_Round_3</name>
        <label>Results Round 3</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Score_Round_3</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Round_P1_R3</name>
            <actionName>Get_Round_by_Participant</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>GameId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParticipantRecord</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RoundNumberTxt</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <label>Get Round P1 R3</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Get_Round_P2_R3</name>
            <actionName>Get_Round_by_Participant</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>GameId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParticipantRecord</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RoundNumberTxt</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <label>Get Round P2 R3</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Score_Round_1</name>
        <label>Score Round 1</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Play_Round_2</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_1_of_Score_Round_1</name>
            <actionName>Update_Board_Results</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant_1</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Participant_2</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round_P1</name>
                <value>
                    <elementReference>Get_Round_P1.Outputs.RoundRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round_P2</name>
                <value>
                    <elementReference>Get_Round_P2.Outputs.RoundRecord</elementReference>
                </value>
            </inputParameters>
            <label>Background Step 1 of Score Round 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Score_Round_2</name>
        <label>Score Round 2</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Play_Round_3</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_1_of_Score_Round_2</name>
            <actionName>Update_Board_Results</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant_1</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Participant_2</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round_P1</name>
                <value>
                    <elementReference>Get_Round_P1_R2.Outputs.RoundRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round_P2</name>
                <value>
                    <elementReference>Get_Round_P2_R2.Outputs.RoundRecord</elementReference>
                </value>
            </inputParameters>
            <label>Background Step 1 of Score Round 2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Score_Round_3</name>
        <label>Score Round 3</label>
        <locationX>176</locationX>
        <locationY>1259</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_1_of_Score_Round_3</name>
            <actionName>Update_Board_Results</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Participant_1</name>
                <value>
                    <elementReference>Get_Player_1.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Participant_2</name>
                <value>
                    <elementReference>Get_Player_2.Outputs.PlayerRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round_P1</name>
                <value>
                    <elementReference>Get_Round_P1_R3.Outputs.RoundRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Round_P2</name>
                <value>
                    <elementReference>Get_Round_P2_R3.Outputs.RoundRecord</elementReference>
                </value>
            </inputParameters>
            <label>Background Step 1 of Score Round 3</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ready_to_Play__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ready_to_Play__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Game__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
