force-app/main/default/flows/Get_Game_Participants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Get Game &amp; Participants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Game &amp; Participants</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Game</name>
        <label>Get Game</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Game_Code</elementReference>
            </value>
        </filters>
        <object>Game__c</object>
        <outputReference>GameRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ready_to_Play__c</queriedFields>
        <queriedFields>Code__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Search_Game_by_Code</name>
        <label>Search Game by Code</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Game</targetReference>
        </connector>
        <fields>
            <name>Enter_Game_Code</name>
            <dataType>Number</dataType>
            <fieldText>Enter Game Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Game_by_Code</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GameRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Game__c</objectType>
    </variables>
    <variables>
        <name>ParticipantList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
</Flow>
