force-app/main/default/flows/Play_Round.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Result</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>optionSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Option</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Paper</name>
        <choiceText>&lt;strong&gt;Paper&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rock</name>
        <choiceText>&lt;strong&gt;Rock&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Scissors</name>
        <choiceText>&lt;strong&gt;Scissors&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>OptionsToPlay</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Option__c</picklistField>
        <picklistObject>Round__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Play Round {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Play Round</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Round</name>
        <label>Create Round</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Round</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option__c</field>
            <value>
                <elementReference>Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant__c</field>
            <value>
                <elementReference>Participant.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Round__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Play_Round</name>
        <label>Play Round</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Round</targetReference>
        </connector>
        <fields>
            <name>Option</name>
            <choiceReferences>OptionsToPlay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Play</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Play_Round</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>optionSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Participant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Round</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
