force-app/main/default/flows/Update_Board_Results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Validate_Victory</name>
        <label>Validate Victory</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Tie</defaultConnectorLabel>
        <rules>
            <name>There_is_a_winner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Results.P1_Played__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Results.P2_Played__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_Won</targetReference>
            </connector>
            <label>There is a winner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_Won</name>
        <label>Who Won?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Round_P2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>P2 won</defaultConnectorLabel>
        <rules>
            <name>P1_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Round_P1.Option__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Results.Who_Win__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Round_Update</targetReference>
            </connector>
            <label>P1 Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Board Results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Board Results</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Results</name>
        <label>Get Results</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Victory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>P1_Played__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Round_P1.Option__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>P2_Played__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Round_P2.Option__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Result_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Round_Update</name>
        <label>Round Update</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Round_P1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Winner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Round__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Round_P2</name>
        <label>Update Round P2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Round_P2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Winner__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Round__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Results</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Participant_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>Participant_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant__c</objectType>
    </variables>
    <variables>
        <name>Round_P1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Round__c</objectType>
    </variables>
    <variables>
        <name>Round_P2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Round__c</objectType>
    </variables>
</Flow>
